<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Meghna One page parallax responsive HTML Template ">
        
        <meta name="author" content="Muhammad Morshed">
		
        <title>豆瓣Top250</title>
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico" />
		
		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="static/css/font-awesome.min.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="static/css/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="static/css/owl.carousel.css">
		<!-- Grid Component css -->
        <link rel="stylesheet" href="static/css/component.css">
		<!-- Slit Slider css -->
        <link rel="stylesheet" href="static/css/slit-slider.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="static/css/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="static/css/media-queries.css">

		<!--
		Google Font
		=========================== -->                    
		
		<!-- Oswald / Title Font -->
		<link href='http://fonts.useso.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
		<!-- Ubuntu / Body Font -->
		<link href='http://fonts.useso.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
		
		<!-- Modernizer Script for old Browsers -->		
        <script src="static/js/modernizr-2.6.2.min.js"></script>


		
	
    </head>
	
    <body id="body">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div id="loading-mask">
			<div class="loading-img">
				<img alt="Meghna Preloader" src="static/img/preloader.gif"  />
			</div>
		</div>
        <!--
        End Preloader
        ==================================== -->
		
        <!--
        Welcome Slider
        ==================================== -->

		<!--/#home section-->
		
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
                    <a class="navbar-brand" href="#body">
						<h1 id="logo">
							<img src="static/img/logo-meghna.png" alt="Meghna" />
						</h1>
					</a>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="/">首页</a></li>
                        <li><a href="/movie">Top250电影</a></li>
                        <li><a href="/score">评分</a></li>
                        <li><a href="/word">词云</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
        		
		<!--
		Start About Section
		==================================== -->
		<section id="about" class="bg-one">
			<div class="container">
				<div class="row">
				
					<!-- section title -->
					<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
						<h2><span class="color">Top250电影</span></h2>
						<div class="border"></div>
					</div>
					<!-- /section title -->

					<table class="table table-hover" style="border-color:aquamarine">
						<tr class="color" style="text-align: center;">
							<td><b>电影排名</b></td>
							<td><b>电影中文名称</b></td>
							<td><b>电影原产地名称</b></td>
							<td><b>电影评分</b></td>
							<td><b>评价人数</b></td>
							<td><b>电影简介</b></td>
							<td><b>其他信息</b></td>
						</tr>
						{% for movie in movies %}
							<tr>
								<td>{{ movie[0] }}</td>
								<td>
									<a href="{{ movie[6] }}" target="_blank">{{ movie[1] }}</a>
								</td>
								<td>{{ movie[2] }}</td>
								<td>{{ movie[3] }}</td>
								<td>{{ movie[4] }}</td>
								<td>{{ movie[5] }}</td>
								<td>{{ movie[8] }}</td>
							</tr>
						{% endfor %}
					</table>
					
				</div> 		<!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->

		
		<footer id="footer" class="bg-one">
			<div class="container">
			    <div class="row wow fadeInUp" data-wow-duration="500ms">
					<div class="col-lg-12">
						
						<!-- Footer Social Links -->
						<div class="social-icon">

						</div>
						<!--/. End Footer Social Links -->

						<!-- copyright -->
						<div class="copyright text-center">
							<a href="index.html">
								<img src="static/img/logo-meghna.png" alt="Meghna" /> 
							</a>
							<br />
							
							<p>Copyright &copy; 2020.Company name All rights reserved.</p>
						</div>
						<!-- /copyright -->
						
					</div> <!-- end col lg 12 -->
				</div> <!-- end row -->
			</div> <!-- end container -->
		</footer> <!-- end footer -->
		
		<!-- Back to Top
		============================== -->
		<a href="javascript:;" id="scrollUp">
			<i class="fa fa-angle-up fa-2x"></i>
		</a>
		
		<!-- end Footer Area
		========================================== -->
		
		<!-- 
		Essential Scripts
		=====================================-->
		
		<!-- Main jQuery -->
		<script src="static/js/jquery-1.11.0.min.js"></script>
		<!-- Bootstrap 3.1 -->
		<script src="static/js/bootstrap.min.js"></script>
		<!-- Slitslider -->
		<script src="static/js/jquery.slitslider.js"></script>
		<script src="static/js/jquery.ba-cond.min.js"></script>
		<!-- Parallax -->
		<script src="static/js/jquery.parallax-1.1.3.js"></script>
		<!-- Owl Carousel -->
		<script src="static/js/owl.carousel.min.js"></script>
		<!-- Portfolio Filtering -->
		<script src="static/js/jquery.mixitup.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="static/js/jquery.nicescroll.min.js"></script>
		<!-- Jappear js -->
		<script src="static/js/jquery.appear.js"></script>
		<!-- Pie Chart -->
		<script src="static/js/easyPieChart.js"></script>
		<!-- jQuery Easing -->
		<script src="static/js/jquery.easing-1.3.pack.js"></script>
		<!-- tweetie.min -->
		<script src="static/js/tweetie.min.js"></script>
		<!-- Google Map API -->
		
		<!-- Highlight menu item -->
		<script src="static/js/jquery.nav.js"></script>
		<!-- Sticky Nav -->
		<script src="static/js/jquery.sticky.js"></script>
		<!-- Number Counter Script -->
		<script src="static/js/jquery.countTo.js"></script>
		<!-- wow.min Script -->
		<script src="static/js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="static/js/jquery.fitvids.js"></script>
		<!-- Grid js -->
		<script src="static/js/grid.js"></script>
		<!-- Custom js -->
		<script src="static/js/custom.js"></script>

    <style>
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
</style>
</body>
</html>